In [1]:
import pandas as pd

In [2]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\SML_2_Pr\Log\data_loader.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda: data_merged.csv")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\SML_2_Pr\Data\raw_data\data_merged.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. SatÄ±rlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [3]:
df.head()

,Unnamed: 0,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,0,1379560,1,55,1885,136.83,152.29,0,0,177.0
1,1,1466964,1,55,1993,136.83,135.83,0,0,270.0
2,2,1346989,1,55,2539,134.86,135.86,0,0,189.0
3,3,1338232,1,55,2139,339.50,437.53,0,0,54.0
4,4,1448490,1,55,2631,243.50,242.50,0,0,40.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489121 entries, 0 to 489120
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             489121 non-null  int64
 1   id                     489121 non-null  int64
 2   week                   489121 non-null  int64
 3   center_id              489121 non-null  int64
 4   meal_id                489121 non-null  int64
 5   checkout_price         489121 non-null  float64
 6   base_price             489121 non-null  float64
 7   emailer_for_promotion  489121 non-null  int64
 8   homepage_featured      489121 non-null  int64
 9   num_orders             456548 non-null  float64
dtypes: float64(3), int64(7)
memory usage: 37.3 MB